nav {
   display: flex;
   justify-content: space-between;
}
nav > section {
   display: flex;
}
.container {
   left: 400px;
}
.logo-icon {
   height: 50px;
   width: 50px;
   border: 1px solid black;
}

.nav-item {
   border: 1px solid black;
}

.facility-list {
   display: flex;
   justify-content: space-around;
   width: 900px;
}
.form-result {
   height: 100px;
   border: 1px solid black;
}
.message-us-section {
   display: flex;
}
.bund {
   width: 200px;
   height: 200px;
   border: 1px solid black;
   border-radius: 50%;
}
.tengah {
   text-align: center;
}
.home {
   padding-left: 100px;
   padding-top: 20px;
   height: 578px;
}
.facilities {
   padding-left: 100px;
}
